version: '3.8'

services:
  backend:
    volumes:
      - ./backend:/app
      - /app/node_modules
      - /app/dist

  frontend:
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
