name: Deploy to Server

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Publish Image
        uses: matootie/github-docker@v3.1.0
        with:
          accessToken: ${{ secrets.GH_TOKEN }}

      - name: SSH to Server
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd /iot
            docker login ghcr.io --username ${{ secrets.GH_USERNAME }} --password ${{ secrets.GH_TOKEN }}
            docker compose up -d --pull always