name: Deploy to Server

on:
  push:

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Update Application Files
        run: |
            sudo rm -rf /apps/iot/*
            mv * /apps/iot

      - name: Inject SSL certificates from secrets
        run: |
            echo "${{ secrets.CERT_PEM }}" | sudo tee /apps/iot/nginx/ssl/cert.pem > /dev/null
            echo "${{ secrets.KEY_PEM }}" | sudo tee /apps/iot/nginx/ssl/key.pem > /dev/null
            echo "${{ secrets.DHPARAMS_PEM }}" | sudo tee /apps/iot/nginx/ssl/dhparams.pem > /dev/null

      - name: Inject env file from secrets
        run: |
            echo "${{ secrets.ENV_FILE }}" | sudo tee /apps/iot/.env > /dev/null

      - name: Deploy with Docker
        run: |
            cd /apps/iot
            docker compose up -d --build
            docker system prune -af