name: Deploy to Server

on:
  push:

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Update Deployment
        run: |
            rm -rf /apps/iot
            mv * /apps/iot
            cd /apps/iot
            docker-compose up -d --build
            docker system prune -af